<div class="container mx-auto">
  <h1 class="mt-4 mb-4"><%= action_name.capitalize %> New Restaurant</h1>

  <%= render 'form' %>

  <%= link_to 'Back', restaurants_path, class: 'btn btn-secondary' %>
</div>
